// accordion
// --------------------------------------------------

$border-color-orange-light: lighten($color-orange, 32%);

.accordion {
    border-bottom: 2px solid #fff;
    text-align: left;

    h3 {
        @include font-medium();
        color: $color-orange-dark;
        font-size: 17px;

        + p {
            @include font-italic();
            margin-top: 10px;
        }
    }

    h4 {
        @include font-medium();
        color: $color-orange-dark;
        font-size: 15px;
    }

    @media (min-width: 500px) {
        border-bottom-color: #eee;

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 17px;
        }
    }

    @media (min-width: $screen-med) {
        h3 {
            font-size: 26px;
        }

        h4 {
            font-size: 20px;
        }
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        border-bottom-color: #fff;

        h3 {
            font-size: 17px;
        }

        h4 {
            font-size: 15px;
        }
    }
}

.accordion-item {
    @include font-medium();
    height: auto;
    padding: $spacing-min 60px $spacing-min $spacing-min;
    border-color: #eee;
    border-top-width: 2px;
    border-right-width: 0;
    border-bottom: none;
    border-left-width: 0;
    color: $color-gray;
    font-size: 19px;
    position: relative;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: block;
    clear: both;

    &:after {
        height: 20px;
        line-height: 24px;
        margin-top: -10px;
        color: $color-orange;
        font-size: 26px;
        text-align: center;
        content: "+";
        top: 50%;
        right: $spacing-min;
        position: absolute;
    }

    &:hover {
        background-color: $color-orange;
        border-color: #fff;

        &:after {
            color: #fff;
        }

        + div {
            border-color: #fff;
        }
    }

    &.accordion-item-open {
        background-color: $color-orange;
        border-color: #fff;
        color: #fff;

        &:after {
            height: 8px;
            line-height: 8px;
            margin-top: -4px;
            color: #fff;
            font-size: 34px;
            content: "-";
            right: 24px;
        }

        + div {
            border-color: #fff;
        }
    }

    .mobile & {
        &:hover {
            background-color: #fff;
            border-color: #eee;
            color: $color-gray;

            &:after {
                color: $color-orange;
            }

            + div {
                + .accordion-item {
                    border-color: #eee;
                }

                + .accordion-item-open {
                    border-color: #fff;
                }
            }
        }

        &.accordion-item-open {
            background-color: $color-orange;
            border-color: #fff;
            color: #fff;

            &:after {
                color: #fff;
            }
        }
    }

    + div {
        border-top: 2px solid #eee;
        display: none;

        > div {
            width: 100%;
            border-bottom: 2px solid #eee;
            display: table;

            &:last-child {
                border: none;

                > div {
                    padding-bottom: $spacing-max;
                }
            }

            > div {
                padding: $spacing-min;
                vertical-align: top;
                display: table-cell;

                &:first-child {
                    width: 90%;
                }

                &:last-child {
                    width: 10%;
                    text-align: right;
                }
            }
        }
    }


    @media (min-width: 500px) {
        font-size: 22px;

        &:after {
            font-size: 28px;
        }

        &.accordion-item-open {
            &:after {
                font-size: 38px;
            }
        }
    }

    @media (min-width: $screen-med) {
        padding: 30px 105px 30px $spacing-max;
        font-size: 34px;

        &:after {
            height: 30px;
            line-height: 34px;
            margin-top: -15px;
            font-size: 40px;
            right: $spacing-max;
        }

        &.accordion-item-open {
            &:after {
                line-height: 10px;
                font-size: 50px;
                content: "-";
                right: 46px;
            }
        }

        + div {
            > div {
                &:last-child {
                    > div {
                        padding-bottom: $spacing-max * 2;
                    }
                }

                > div {
                    padding: $spacing-max;

                    &:first-child {
                        width: 80%;
                    }

                    &:last-child {
                        width: 20%;
                    }
                }
            }
        }
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        font-size: 19px;
    }
}