// footer
// --------------------------------------------------

#footer {
    @include font-medium();
    padding: $spacing-min $spacing-min ($spacing-min * 2);
    line-height: 130%;
    color: #fff;
    font-size: 14px;
    background-color: $color-gray-dark;
    display: table;
    position: relative;
    z-index: 1;

    a {
        color: #fff;
        transition: color 0.2s ease-in-out;
        position: relative;
        display: inline-block;

        &:hover {
            color: #ccc;
        }

        &:before {
            @include fa-icon();
            font-size: 20px;
            top: -1px;
            left: 0;
            position: absolute;
        }

        &[href^="tel"],
        &[href^="mailto"] {
            margin-bottom: 7px;
            padding-left: 25px;
        }

        &[href^="tel"] {
            &:before {
                content: $fa-var-phone-square;
            }
        }

        &[href^="mailto"] {
            &:before {
                content: $fa-var-envelope-square;
            }
        }
    }

    > div {
        vertical-align: top;
        display: table-cell;

        &:last-child {
            text-align: right;
        }
    }

    .fa-facebook-square,
    .fa-twitter-square,
    .fa-instagram {
        margin-left: 12px;
        font-size: 32px;
    }

    @media (min-width: $screen-med) {
        padding: 30px $spacing-max ($spacing-max + $spacing-min);
        font-size: 16px;

        a {
            &:before {
                font-size: 24px;
                top: -2px;
            }

            &[href^="tel"],
            &[href^="mailto"] {
                margin-bottom: 8px;
                padding-left: 30px;
            }
        }

        .fa-facebook-square,
        .fa-twitter-square,
        .fa-instagram {
            margin-left: 15px;
            font-size: 44px;
        }
    }

    @media (min-width: $screen-max) {
        padding-top: $spacing-max;
    }
}

.footer-copyright {
    @include font-regular();
    color: #ddd;
    font-size: 11px;

    @media (min-width: $screen-med) {
        font-size: 13px;
    }
}