// header
// --------------------------------------------------

header {
    height: 50px;
    line-height: 50px;
    padding-right: $spacing-min;
    padding-left: $spacing-min;
    background-color: $color-orange-dark;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 2;

    a {
        font-size: 16px;
        color: #fff;
        float: left;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $color-gray-dark;
        }

        &.fa-bars {
            line-height: 50px;
            font-size: 26px;
            float: right;
        }
    }

    @media (min-width: $screen-med) {
        height: 70px;
        line-height: 70px;
        padding-right: $spacing-max;
        padding-left: $spacing-max;

        a {
            font-size: 22px;

            &.fa-bars {
                line-height: 70px;
                font-size: 32px;
            }
        }
    }
}