// header
// --------------------------------------------------

#header {
    @include font-medium();
    height: 50px;
    line-height: 50px;
    padding-right: $spacing-min;
    padding-left: $spacing-min;
    background-color: $color-orange-dark;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 3;

    a {
        font-size: 16px;
        color: #fff;
        float: left;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #ddd;
        }
    }

    .nav-btn {
        @include fa-icon();
        width: 42px;
        height: inherit;
        line-height: 50px;
        padding-left: 20px;
        overflow: hidden;
        float: right;

        span {
            width: 100%;
            height: inherit;
            overflow: hidden;
            position: relative;
            display: inline-block;

            &:before,
            &:after {
                transition: transform 0.2s ease-in-out;
                top: 0;
                left: 0;
                position: absolute;
            }

            &:before {
                line-height: 49px;
                content: $fa-var-bars;
                font-size: 26px;
                transform: translate3d(0,0,0);
            }

            &:after {
                line-height: 46px;
                content: $fa-var-close;
                font-size: 30px;
                transform: translate3d(25px,0,0);
            }
        }

        &.nav-open {
            span {
                &:before {
                    transform: translate3d(-25px,0,0);
                }

                &:after {
                    transform: translate3d(0,0,0);
                }
            }
        }
    }

    @media (min-width: $screen-med) {
        height: 70px;
        line-height: 70px;
        padding-right: $spacing-max;
        padding-left: $spacing-max;

        a {
            font-size: 22px;
        }

        .nav-btn {
            width: 48px;
            line-height: 70px;

            span {
                &:before {
                    line-height: 69px;
                    font-size: 32px;
                }

                &:after {
                    line-height: 64px;
                    font-size: 38px;
                    transform: translate3d(32px,0,0);
                }
            }

            &.nav-open {
                span {
                    &:before {
                        transform: translate3d(-32px,0,0);
                    }
                }
            }
        }
    }
}