// layers
// --------------------------------------------------

.layers {
    height: 100%;
    margin-top: $header-height-min;
    perspective: 1px;
    position: relative;

    h1,
    p {
        margin-bottom: $spacing-min;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: $screen-med) {
        margin-top: $header-height-max;

        h1 {
            margin-bottom: $spacing-max;
        }

        .button {
            margin-top: $spacing-min;

            &.accordion-item {
                margin-top: 0;
            }
        }
    }
}

.layer-front {
    width: 100%;
    height: auto;
    padding: 7% 0;
    text-align: center;
    position: relative;

    &:before {
        @include align-horizontal();
        width: 23%;
        max-width: 140px;
        content: url("#{$path-imgs}ornament.svg");
        top: 0;
        transform: rotate(180deg) translate3d(50%,75%,0);
        z-index: 0;
    }

    &:after {
        @include align-horizontal();
        width: 23%;
        max-width: 140px;
        content: url("#{$path-imgs}ornament.svg");
        bottom: 0;
        transform: translate3d(-50%,75%,0);
        z-index: 1;
    }

    &:last-child {
        &:after {
            content: "";
            display: none;
        }
    }

    @media (max-width: $screen-min - 1px) {
        &:before,
        &:after {
             width: 74px;
             left: 50%;
        }
    }

    @media (min-width: $screen-med) {
        padding: $spacing-min 0;
    }

    @media (max-height: 500px) and (orientation: landscape) {
        &:before,
        &:after {
             max-width: 70px;
        }
    }
}

.layer-back {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .mobile & {
        background-attachment: scroll;
    }

    &:nth-child(1) {
        height: 0;
        padding-bottom: 66%;
        background-position: center $header-height-min;
        background-size: 100%;

        .mobile & {
            background-position: center top;
            background-size: cover;
        }
    }

    @media (max-width: $screen-min - 1px) {
        overflow: hidden;

        &:nth-child(1) {
            background-position: left top;
            background-attachment: scroll;
        }
    }

    @media (min-width: $screen-med) {
        &:nth-child(1) {
            background-position: center $header-height-max;
        }
    }

    @media (min-width: $screen-max) {
        &:nth-child(1) {
            background-size: 1200px;
        }
    }

    @media (max-height: 500px) and (orientation: landscape) {
        &:nth-child(1) {
            padding-bottom: 46%;
        }
    }
}

.layer-front-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 $spacing-min;

    .layer-rule {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: $screen-med) {
        padding: 0 $spacing-max;
    }
}

.layer-rule {
    padding: 0 $spacing-min 7%;
    
    .rule {
        @include rule(#eee);
    }

    @media (min-width: $screen-med) {
        padding: $spacing-max;
    }
}

.layer-rule-bottom {
    padding-top: 7%;
    padding-bottom: 0;

    .rule {
        transform: rotate(180deg);
    }

    @media (min-width: $screen-med) {
        padding-top: $spacing-max;
        padding-bottom: $spacing-max;
    }
}