// layout
// --------------------------------------------------

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #eee;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    @include font-regular();
    height: 100%;
    color: $color-gray;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-med) {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-bold();
    margin: 0;
    color: $color-red;
}

h1 {
    font-size: 8vw;

    @media (max-width: $screen-min - 1px) {
        font-size: 26px;
    }

    @media (min-width: $screen-med) {
        font-size: 60px;
    }
}

h2 {
    font-size: 6.5vw;

    @media (max-width: $screen-min - 1px) {
        font-size: 20px;
    }

    @media (min-width: $screen-med) {
        font-size: 48px;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
}

em {
    @include font-italic();
}

b,
strong {
    @include font-bold();
}

p {
    margin: 0;
    line-height: 130%;
}

a {
    color: $color-orange;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

#header,
#nav,
#main,
#footer {
    width: 100%;
    min-width: $screen-min;
    max-width: $screen-max;
    margin: 0 auto;
    overflow: hidden;
}

#main {
    background-color: #fff;
    box-shadow: 0 0 8px #ddd;
    flex: 1 0 auto;
    position: relative;
    z-index: 0;
}

.container {
    padding-right: $spacing-min;
    padding-left: $spacing-min;

    @media (min-width: $screen-med) {
        padding-right: $spacing-max;
        padding-left: $spacing-max;
    }
}

.button {
    @include font-bold();
    width: auto;
    padding: 12px 20px 10px;
    background-color: #fff;
    border: 2px solid $color-red;
    color: $color-red;
    font-size: 18px;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        color: #fff;
        background-color: $color-red;
    }

    @media (max-width: $screen-min - 1px) {
        font-size: 18px;
    }

    @media (min-width: $screen-med) {
        padding: 20px 30px 18px;
        font-size: 26px;
    }
}