// nav
// --------------------------------------------------

#nav {
    @include font-bold();
    height: 100%;
    padding-top: $header-height-min;
    background-color: $color-gray-dark;
    font-size: 26px;
    font-size: 8vw;
    opacity: 0;
    transform: translate3d(100%,0,0);
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 2;

    &.nav-open {
        transform: translate3d(0,0,0);
        visibility: visible;
    }

    &.nav-show {
        opacity: 1; 
    }

    ul {
        list-style: none;
    }

    li {
        background-color: $color-gray;
        border-bottom: 2px solid $color-gray-dark;
        transition: background-color 0.2s ease-in-out;

        a {
            width: 100%;
            padding: $spacing-min $spacing-min 15px;
            color: #fff;
            display: block;
        }

        &:hover,
        &.nav-item-selected {
            background-color: lighten($color-gray-dark, 4%);

            a {
                color: $color-orange;
            }
        }
    }

    @media (max-width: ($screen-min - 1px)) {
        font-size: 26px;
    }

    @media (min-width: $screen-med) {
        padding-top: $header-height-max;
        font-size: 60px;

        li {
            a {
                padding: 25px $spacing-max $spacing-min;
            }
        }
    }
}