// intro
// --------------------------------------------------

#intro {
    @include align-horizontal();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 12px;
    position: relative;

    > a {
        @include font-bold();
        width: auto;
        padding: 3% 6% 2.5%;
        background-color: rgba(256,256,256,0.5);
        border: 2px solid $color-red;
        color: $color-red;
        font-size: 16px;
        font-size: 5vw;
        display: inline-block;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            color: #fff;
            background-color: $color-red;
        }
    }

    svg {
        @include font-medium();
        width: 100%;
        height: auto;
        fill: $color-gray;
    }

    @media (max-width: $screen-min - 1px) {
        a {
            font-size: 16px;
        }
    }

    @media (min-width: $screen-med) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (min-width: 800px) {
        a {
            width: 294px;
            height: 90px;
            line-height: 90px;
            padding: 0;
            font-size: 38px;
        }
    }
}