AddDefaultCharset utf-8

AddType  application/font-woff2  .woff2

ErrorDocument 404 /404.html

RewriteEngine on
RewriteCond %{HTTP_HOST} ^rdsoda\.com$ [NC]
RewriteRule ^(.*)$ http://www.rdsoda.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.rdsoda.com/$1 [R=301,L]