AddDefaultCharset utf-8

AddType  application/font-woff2  .woff2

ErrorDocument 404 /404.html

RewriteEngine on
RewriteBase /

# Resolve index.html
RewriteCond %{HTTP_HOST} ^rdsoda\.com$ [NC]
RewriteRule ^(.*)$ http://www.rdsoda.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.rdsoda.com/$1 [R=301,L]

# Resolve /index
RewriteCond %{HTTP_HOST} ^rdsoda\.com$ [NC]
RewriteRule ^(.*)$ http://www.rdsoda.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index/
RewriteRule ^(.*)index/$ http://www.rdsoda.com/$1 [R=301,L]

# Force WWW prefix
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} ^([^.]+)\.([a-z]{2,4})$ [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Remove .html extension
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.html
RewriteRule (.*)\.html$ /$1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/(.+)/$
RewriteCond %{DOCUMENT_ROOT}/%1.html -f
RewriteRule ^(.*)/$ $1.html [L]

# Force trailing slash
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule .*[^/]$ $0/ [L,R=301]