<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^teaseballard.com$" />
          </conditions>
          <action type="Redirect" url="https://www.teaseballard.com/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect index.html" stopProcessing="true"> 
          <match url="(.*)index(.*)" /> 
          <action type="Redirect" url="{R:1}" redirectType="Permanent" /> 
        </rule>
        <rule name="Remove .html">
            <match ignoreCase="true" url="^(.*)"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
            </conditions>
            <action type="Rewrite" url="{R:0}.html"/>
        </rule>
        <rule name="Redirect .html" stopProcessing="true">
            <match url="^(.*).html"/>
            <conditions logicalGrouping="MatchAny">
                <add input="{URL}" pattern="(.*).html"/>
            </conditions>
            <action type="Redirect" url="{R:1}"/>
        </rule>
        <rule name="Redirect /book" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.teaseballard.com/book" />
          </conditions>
          <action type="Redirect" url="https://www.vagaro.com/tease" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect /directions, /find" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.teaseballard.com/directions" />
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.teaseballard.com/find" />
          </conditions>
          <action type="Redirect" url="https://www.google.com/maps/dir//1417+NW+54th+St,+Seattle,+WA+98107/@47.6676609,-122.3788814,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x549015c9c7120cc9:0xe2eb96c744863aa3!2m2!1d-122.374504!2d47.667661?hl=en" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect /portfolio" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.teaseballard.com/portfolio" />
          </conditions>
          <action type="Redirect" url="https://www.teaseballard.com" redirectType="Permanent"/>
        </rule>
        <rule name="Enforce lower case" stopProcessing="true">  
          <match url="(.*)[A-Z](.*)" ignoreCase="false" />  
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />  
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>
