// contact
// --------------------------------------------------

@import "_font-awesome-4.7.0/font-awesome";

@import "_partials/variables";
@import "_partials/mixins";

@import "_shared/map";

.layers {
    h1 {
        margin: 0;
    }
}

.layer-back {
    background-image: url("#{$path-imgs}contact/outside.jpg");
}

.layer-front {
    &:last-child {
        padding-bottom: 0;
    }
}

#info {
    @include font-medium();
    font-size: 18px;

    a {
        transition: color 0.2s ease-in-out;
        position: relative;
        display: inline-block;

        &:before {
            @include fa-icon();
            font-size: 24px;
            top: -2px;
            left: 0;
            position: absolute;
        }

        &[href^="tel"],
        &[href^="mailto"] {
            margin-bottom: 7px;
            padding-left: 27px;
        }

        &[href^="tel"] {
            &:before {
                content: $fa-var-phone-square;
            }
        }

        &[href^="mailto"] {
            &:before {
                content: $fa-var-envelope-square;
            }
        }
    }

    @media (min-width: $screen-med) {
        font-size: 28px;

        a {
            padding-left: 40px;

            &:before {
                font-size: 34px;
            }

            &[href^="tel"],
            &[href^="mailto"] {
                margin-bottom: 10px;
                padding-left: 40px;
            }
        }
    }
}

#info-content {
    margin: $spacing-max 0;

    > div {
        margin-bottom: $spacing-min;
        text-align: left;
        display: inline-block;
    }

    @media (min-width: $screen-med) {
        margin: $spacing-min 0;
    }
}

#hours {
    margin: $spacing-min 0;
    padding-bottom: 10%;

    ul {
        @include font-medium();
        margin-top: $spacing-min / 2;
        font-size: 18px;
        list-style: none;
    }

    li {
        margin-bottom: 5px;

        span {
            color: $color-orange-dark;
        }
    }

    @media (min-width: $screen-med) {
        padding-bottom: 60px;

        ul {
            margin-top: $spacing-min;
            font-size: 28px;
        }

        li {
            margin-bottom: 10px;
        }
    }
}