// home
// --------------------------------------------------

@import "_partials/variables";
@import "_partials/mixins";

@import "_shared/map";

.layers {
    margin: 0;

    h2 {
        padding: 0 $spacing-min 10%;
    }

    @media (min-width: $screen-med) {
        h2 {
            padding: 0 $spacing-max ($spacing-max + $spacing-min);
        }
    }
}

.layer-back {
    &:nth-child(1) {
        height: 100vh;
        padding-bottom: 0;
        background-color: #ddd;
        background-image: url("#{$path-imgs}home/bg.svg");
        background-position: center;
        background-repeat: repeat-x;
        background-size: 100px 400%;

        &:before {
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient($color-orange, rgba(255,255,255,0.75), $color-blue);
            opacity: 0.75;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 0;
        }

        .mobile & {
            background-position: center;
            background-size: 100px 400%;
        }

        .iphone & {
            height: 92vh;
        }
    }

    &:nth-child(3) {
        height: 70vh;
        background-attachment: scroll;
        background-image: url("#{$path-imgs}home/girls.jpg");
    }

    @media (min-width: $screen-med) {
        &:nth-child(1) {
            background-size: 130px 700%;

            .mobile & {
                background-size: 130px 700%;
            }
        }

        &:nth-child(3) {
            height: 800px;
        }
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        &:nth-child(1),
        &:nth-child(3) {
            height: 100vh;
        }
    }
}

.layer-front {
    &:last-child {
        padding-bottom: 0;
    }

    @media (max-width: $screen-med - 1px) {
        padding: 10% 0;
    }
}

.layer-rule {
    @media (max-width: $screen-med - 1px) {
        padding: 0 $spacing-min 10%;
    }

    @media (min-width: $screen-med) {
        padding: $spacing-max $spacing-max ($spacing-max + $spacing-min);
    }
}

.layer-rule-bottom {
    @media (max-width: $screen-med - 1px) {
        padding-top: 10%;
        padding-bottom: 0;
    }

    @media (min-width: $screen-med) {
        padding-top: $spacing-max + $spacing-min;
        padding-bottom: $spacing-max;
    }
}

.button {
    margin-top: $spacing-min / 2;
    padding: 3.4% 6% 2.7%;
    font-size: 16px;
    font-size: 5vw;

    @media (max-width: $screen-min - 1px) {
        font-size: 16px;
    }

    @media (min-width: $screen-med) {
        width: 294px;
        height: 90px;
        line-height: 90px;
        padding: 0;
        font-size: 38px;
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        padding: 12px 20px 10px;
        font-size: 18px;
    }
}

#logo {
    @include align-center();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 $spacing-min;
    position: relative;
    z-index: 1;

    .iphone & {
        top: 45vh;
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        max-width: 320px;

        .iphone & {
            top: 50vh;
        }
    }
}

#intro {
    width: 100%;
    padding: 0 12px;
    position: relative;

    svg {
        @include font-medium();
        width: 100%;
        height: auto;
        fill: $color-gray;
        top: 0;
        left: 0;
        position: absolute;
    }

    > div {
        width: 100%;
        max-width: 800px;
        height: 0;
        margin: 0 auto;
        padding-bottom: 44.6%;
        position: relative;
    }

    @media (min-width: $screen-med) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (min-width: 848px) {
        svg {
            position: relative;
        }

        > div {
            width: 800px;
            height: 357px;
            padding: 0;
        }
    }
}