// home
// --------------------------------------------------

@import "_partials/variables";
@import "_partials/mixins";

.layers {
    margin: 0;

    h2 {
        padding: 0 $spacing-min 10%;
    }

    @media (min-width: $screen-med) {
        h2 {
            padding: 0 $spacing-max ($spacing-max + $spacing-min);
        }
    }
}

.layer-back {
    &:nth-child(1) {
        height: 100vh;
        padding-bottom: 0;
        background-color: #ddd;
        background-image: url("#{$path-imgs}home/bg.svg");
        background-position: center;
        background-repeat: repeat-x;
        background-size: 100px 400%;

        &:before {
            background: linear-gradient($color-orange, rgba(256,256,256,0.75), $color-blue);
            opacity: 0.75;
        }

        .iphone & {
            height: 90vh;
        }
    }

    &:nth-child(3) {
        height: 85vh;
        background-image: url("#{$path-imgs}home/station.jpg");
        background-position: 35%;
    }

    @media (min-width: $screen-med) {
        &:nth-child(1) {
            background-size: 130px 700%;
        }

        &:nth-child(3) {
            background-position: center;
        }
    }
}

.layer-front {
    &:last-child {
        padding-bottom: 0;
    }
}

#logo {
    @include align-center();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 $spacing-min;
    position: relative;
    z-index: 1;

    .iphone & {
        top: 45vh;
    }
}

#intro {
    @include align-horizontal();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 12px;
    position: relative;

    .button {
        padding: 3% 6% 2.5%;
        font-size: 5vw;
    }

    svg {
        @include font-medium();
        width: 100%;
        height: auto;
        fill: $color-gray;
    }

    @media (min-width: $screen-med) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (min-width: $screen-med) {
        .button {
            width: 294px;
            height: 90px;
            line-height: 90px;
            padding: 0;
            font-size: 38px;
        }
    }
}

#map {
    width: 100%;
    height: 200px;

    @media (min-width: $screen-med) {
        height: 400px;
    }
}