// home
// --------------------------------------------------

@import "_partials/variables";
@import "_partials/mixins";

#layers {
    height: 100%;
    perspective: 1px;
    position: relative;
}

.layer-front {
    width: 100%;
    height: auto;
    padding: $spacing-max 0;
    text-align: center;
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-med) {
        padding-bottom: $spacing-max + $spacing-min;
    }
}

.layer-back {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:nth-child(1) {
        background-image: url("#{$path-imgs}home/interior.jpg");
    }

    &:nth-child(3) {
        background-image: url("#{$path-imgs}home/jars.jpg");
    }

    .mobile & {
        background-attachment: scroll;
    }
}

#logo {
    @include align-center();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 $spacing-min;
}

#intro {
    @include align-horizontal();
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 12px 30%;
    position: relative;

    &:before {
        @include align-horizontal();
        width: 25%;
        content: '';
        background: url("#{$path-imgs}ornament.svg") no-repeat bottom center;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    
    a {
        width: auto;
        padding: 3% 6% 2.5%;
        background-color: rgba(256,256,256,0.5);
        border: 2px solid $color-orange-dark;
        color: $color-orange-dark;
        font-size: 16px;
        font-size: 4.8vw;
        display: inline-block;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            color: #fff;
            background-color: $color-orange-dark;
        }
    }

    svg {
        width: 100%;
        height: auto;
        fill: $color-gray-dark;
    }

    @media (max-width: $screen-min - 1px) {
        a {
            font-size: 16px;
        }
    }

    @media (min-width: $screen-med) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (min-width: 800px) {
        padding-bottom: 240px;

        &:before {
            left: 50%;
        }

        a {
            width: 294px;
            height: 90px;
            line-height: 90px;
            padding: 0;
            font-size: 38px;
        }
    }
}

.intro-rule {
    padding: 0 8px $spacing-max;
    
    .rule {
        @include rule($color-orange);
    }

    @media (min-width: $screen-med) {
        padding: $spacing-max 0 ($spacing-max + $spacing-min);
    }
}

.intro-rule-bottom {
    padding-top: $spacing-max;
    padding-bottom: 0;

    .rule {
        transform: rotate(180deg);
    }

    @media (min-width: $screen-med) {
        padding-top: $spacing-max + $spacing-min;
    }
}