// services
// --------------------------------------------------

@import "_partials/variables";
@import "_partials/mixins";

@import "_shared/accordion";

.layer-front-content {
    padding: 0;

    @media (min-width: 500px) {
        padding: 0 $spacing-min;
    }

    @media (min-width: $screen-med) {
        padding: $spacing-max;
    }
}

.layer-front {
    @media (max-width: $screen-med - 1px) {
        padding: 10% 0;
    }
}

.layer-back {
    background-image: url("#{$path-imgs}services/stations.jpg");
}