// services
// --------------------------------------------------

@import "_partials/variables";
@import "_partials/mixins";

@import "_shared/accordion";

.layers {
    h1 {
        margin: 0;
        padding-bottom: 7%;
    }

    @media (min-width: $screen-med) {
        h1 {
            padding-bottom: $spacing-max;
        }
    }
}

.layer-back {
    background-image: url("#{$path-imgs}services/stations.jpg");
}

.layer-front {
    @media (min-width: $screen-med) {
        padding-bottom: $spacing-max * 2;
    }
}

.accordion {
    + p {
        margin-top: $spacing-min;
        text-align: left;

        span {
            @include font-medium();
        }
    }

    @media (min-width: $screen-med) {
        + p {
            margin-top: $spacing-max;
        }
    }
}