section.layers
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 404
            p It looks like you've wondered off the edge of the Internet.
                br
                a(href="/") Let's get you home!
                
        div.layer-rule.layer-rule-bottom 
            != partial("_shared/rule")
