doctype
html(lang="en")
  head
    title= title
    != partial("_shared/meta")
    link(rel="icon", href="./favicon.png")
    != partial("_shared/css")
  body
    != partial("_shared/header")
    != partial("_shared/nav")
    main#main
      != yield
    != partial("_shared/footer")
    != partial("_shared/js")