section.layers
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 About
            p Tease got its' wings in a small shop on 15th NW in Ballard. A couple of years and hands later, we're re-located to our new, beautiful studio salon in the Studio Works Ballard building. The building hosts a bunch of local yokels, eclectic creators &amp; new artists. We love our entrepreneurial neighbors and the community and inspiration that it creates.
            p Here at Tease we aim to excel to not just give you a good style, but a style that makes you YOU, that makes you feel like you're in your own skin, complete. Like, we GET you. With 27 years of combined experience, you know we really love what we do and we're damn good at it.
            p Listening is a skill. Some people have it, some people don't. At Tease this is the most important part of your time with us; the consultation. This is where we get to know you, hear your awesome ideas and figure out how to best get you there. Consultations come free. Stop in, call or book one anytime.
            a(href="/booking/", class="button") Book Here
        div.layer-rule.layer-rule-bottom 
            != partial("_shared/rule")