- var tel = phone.replace(/\./g, "")

section.layers
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 Contact
            div#info
                div.layer-rule.layer-rule-bottom
                    != partial("_shared/rule")
                div#info-content
                    p 1417 NW 54th St #105
                        br 
                        | Seattle, WA 98107
                    div
                        a(href="tel:#")= phone
                        br
                        a(href="mailto:#") Melissa
                        br
                        a(href="mailto:#") Nicka
                    br
                    a(href="#", class="button") Get Directions
            div#hours
                div.layer-rule
                    != partial("_shared/rule")
                h2 Hours:
                div.layer-rule.layer-rule-bottom
                    != partial("_shared/rule")
                ul
                    li 
                        span Sunday -
                        |&nbsp;Closed
                    li
                        span Monday -
                        |&nbsp;Closed
                    li
                        span Tuesday -
                        |&nbsp;11am - 7pm
                    li
                        span Wednesday -
                        |&nbsp;11am - 7pm
                    li
                        span Thursday -
                        |&nbsp;11am - 7pm
                    li
                        span Friday -
                        |&nbsp;11am - 7pm
                    li
                        span Saturday -
                        |&nbsp;11am - 6pm
        div#map