section.layers
    div.layer-back
        img(id="logo", src="/imgs/logo.svg", width="232", height="132", alt="tease")
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div#intro
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="100%", height="100%", viewBox="0 0 280 125", preserveAspectRatio="none", xml:space="preserve")
                text(transform="matrix(1 0 0 1 7.2891 13.8862)")
                    tspan(x="0", y="0", font-size="16") We
                    tspan(x="34", y="0", font-size="16") are
                    tspan(x="68.3", y="0", font-size="16") family,
                    tspan(x="134.801", y="0", font-size="16") we
                    tspan(x="166.5", y="0", font-size="16") are
                    tspan(x="200.764", y="0", font-size="16") friends,
                    tspan(x="10.97", y="19", font-size="14") we
                    tspan(x="36", y="19", font-size="14") are
                    tspan(x="63.665", y="19", font-size="14") creators,
                    tspan(x="133.158", y="19", font-size="14") we
                    tspan(x="158", y="19", font-size="14") are
                    tspan(x="185.852", y="19",font-size="14") thinkers,
                    tspan(x="20.785", y="36", font-size="12") we
                    tspan(x="43", y="36", font-size="12") are
                    tspan(x="67.645", y="36", font-size="12") innovators,
                    tspan(x="144.846", y="36", font-size="12") we
                    tspan(x="167.25", y="36", font-size="12") are
                    tspan(x="191.705", y="36", font-size="12") problem
                    tspan(x="30.022", y="52", font-size="12") solvers,
                    tspan(x="81.588", y="52", font-size="12") we
                    tspan(x="103", y="52", font-size="12") are
                    tspan(x="126.114", y="52", font-size="12") challenge
                    tspan(x="190.953", y="52", font-size="12") takers,
                    tspan(x="39.26", y="68", font-size="12") we
                    tspan(x="62.5", y="68", font-size="12") are
                    tspan(x="88.648", y="68", font-size="12") color
                    tspan(x="125.439", y="68", font-size="12") makers,
                    tspan(x="182.102", y="68", font-size="12") we
                    tspan(x="205.127", y="68", font-size="12") are
                    tspan(x="48.498", y="84", font-size="11") shape
                    tspan(x="88.067", y="84", font-size="11") shifters,
                    tspan(x="140.934", y="84", font-size="11") we
                    tspan(x="162", y="84", font-size="11") are
                    tspan(x="185.334", y="84", font-size="11") open,
                    tspan(x="57.158", y="99", font-size="10") we are free, we are you &amp; me.
            a(href="#{vagaro.url}", target="_blank", class="button") Book Here
        div.layer-rule.layer-rule-bottom
            != partial("_shared/rule")
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        h2 We are located
            br 
            | in the heart of Ballard
        div#map