section#layers
    div.layer-back
        img(id="logo", src="/imgs/logo.svg", width="232", height="132", alt="tease")
    div.layer-front
        != partial("_shared/home/intro")
    div.layer-back
    div.layer-front