section.layers
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 Services
            div.accordion
                h2(class="button accordion-item") Balayage &amp; Color
                div
                    div
                        div
                            h3 Partial Balayage
                            p Color is painted on to the hair to give a natural look. This is for a partial service which includes the crown and sides of the head. Depending on length and thickness of hair price may vary.
                        div
                            h4 #[sup $]135.00
                    div
                        div
                            h3 Partial Balayage &amp; Color
                            p This service is for a partial balayage application and touch up hair color service.
                        div
                            h4 #[sup $]210.00
                    div
                        div
                            h3 Partial Balayage &amp; Cut
                        div
                            h4 #[sup $]195.00
                    div
                        div
                            h3 Partial Balayage, Color &amp; Cut
                        div
                            h4 #[sup $]265.00
                    div
                        div
                            h3 Full Balayage
                            p Color is painted on to the hair to give a naturally highlighted look. This service is for a full balyage treatment which covers the entire head. Depending on length and thickness of hair price may vary.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Full Balayage &amp; Color
                        div
                            h4 #[sup $]245.00
                    div
                        div
                            h3 Full Balayage &amp; Cut
                        div
                            h4 #[sup $]235.00
                    div
                        div
                            h3 Full Balayage, Color &amp; Color
                        div
                            h4 #[sup $]290.00
                h2(class="button accordion-item") Haircuts &amp; Other
                div
                    div
                        div
                            h3 Bang Trim
                            p Touch up for that fringe! Come in before you tackle those bangs yourself.
                        div
                            h4 Complimentary
                    div
                        div
                            h3 Women's Blow-Dry
                            p Relaxing shampoo with professional blowout using round brush and finishing touches.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Women's Styling With Flat-Curling Iron
                            p Professional styling and finishing service using a flat or curling iron.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Women's Haircut
                            p A customized haircut designed by your stylist to fit your individual style and preferences.
                        div
                            h4 #[sup $]70.00
                    div
                        div
                            h3 Women's Haircut With Flat-Curling Iron
                            p A customized haircut designed by your stylist to fit your individual style and preferences, includes professional blow dry and style.
                        div
                            h4 #[sup $]80.00
                    div
                        div
                            h3 Men's Clipper Cut
                            p Clipper work on the sides, scissor cut on top. Detailing around neck and ears. Shampoo, blow-dry and style.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Men's Scissor Cut
                            p Customized scissor work on sides and top. Detailing around neck and ears. Shampoo, blow-dry and style.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Mustache / Beard Trim
                            p Customized trimming of mustache and/or beard.
                        div
                            h4 #[sup $]15.00
                    div
                        div
                            h3 Child's Haircut
                            p A customized children's haircut designed by your stylist to fit your individual style and preferences.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Conditioning Treatment
                            p A formula that is designed to restore proteins and moisture in the hair. Often the client will wear a cap and be placed under a dryer for 10-20 minutes to increase the speed of penetration.
                        div
                            h4 #[sup $]15.00
                    div
                        div
                            h3 Special Occasion Styles
                            p An elegant style where the hair is pulled up, and away from the neck.
                        div
                            h4 #[sup $]60.00
                h2(class="button accordion-item") Hair Color &amp; Other
                div
                    div
                        div
                            h3 Color Correction Consultation
                        div
                            h4 Consultation
                    div
                        div
                            h3 Touch-Up Color
                            p Root touch application of permanent or demi-permanent color.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 All-Over Color
                            p Full head application of permanent or demi-permanent color.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Touch-Up Color &amp; Cut
                            p Root touch color permanent or demi-permanent, customized cut and blowout.
                        div
                            h4 #[sup $]135.00
                    div
                        div
                            h3 All-Over Color &amp; Cut
                            p All over permanent or demi-permanent color application, customized cut and blow out.
                        div
                            h4 #[sup $]160.00
                    div
                        div
                            h3 All-Over Color, Cut &amp; Flat/Curling Iron
                            p Full head permanent or demi-permanent color application. Customized cut, blow out and an iron style.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Partial Highlight
                            p Lightener foiled through top and sides of head for a lighter affect in the hair.
                        div
                            h4 #[sup $]115.00
                    div
                        div
                            h3 Color &amp; Partial Highlight
                            p Root touch up permanent or demi-permanent color with partial highlights throughout top and sides.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Partial Highlight &amp; Cut
                        div
                            h4 #[sup $]170.00
                    div
                        div
                            h3 Color, Partial Highlight &amp; Cut
                            p Root touch permanent or demi-permanent color with partial highlights throughout top and sides with customized cut and blowout.
                        div
                            h4 #[sup $]235.00
                    div
                        div
                            h3 Color, Partial Highlight &amp; Flat/Curling Iron
                            p Root touch up with permanent or demi-permanent color with partial highlights throughout top and side with customized style.
                        div
                            h4 #[sup $]185.00
                    div
                        div
                            h3 Color, Partial Highlight, Cut &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with partial highlights throughout top and side with customized haircut, blowout and style.
                        div
                            h4 #[sup $]245.00
                    div
                        div
                            h3 Full Highlight
                            p Full head highlight application.
                        div
                            h4 #[sup $]155.00
                    div
                        div
                            h3 Color &amp; Full Highlight
                            p Root touch permanent or demi-permanent color with full head highlights.
                        div
                            h4 #[sup $]215.00
                    div
                        div
                            h3 Full Highlight &amp; Cut
                            p Full head highlights and customized haircut and blowout.
                        div
                            h4 #[sup $]215.00
                    div
                        div
                            h3 Color, Full Highlight &amp; Cut
                            p Root touch up permanent or demi-permanent color with full head highlights including customized haircut and blowout.
                        div
                            h4 #[sup $]275.00
                    div
                        div
                            h3 Color, Full Highlight &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with full head highlights, blowout and iron style.
                        div
                            h4 #[sup $]225.00
                    div
                        div
                            h3 Color, Full Highlight, Cut &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with full head highlights including customized haircut, blowout and iron style.
                        div
                            h4 #[sup $]285.00
                h2(class="button accordion-item") Bleach &amp; Tone / Vivid Colors
                div
                    div
                        div
                            h3 Toner / Color Gloss
                            p A toner or also known as a color gloss changes the tonal value of the hair. Often used at the shampoo bowl after lightening the hair to cut brassiness. This type of color can be used to blend out color demarcation lines, lightly deepen the tone and add mega shine to the hair. Demi-Permanent color, lasts 4-6 weeks.
                        div
                            h4 #[sup $]60.00
                    div
                        div
                            h3 Bleach &amp; Tone Touch Up
                            p Bleach &amp; tone root touch up within a 6 week regrowth time period.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Bleach &amp; Tone Extended
                            p Bleach &amp; tone touch up after 6 week time period of regrowth.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 All Over Bleach &amp; Tone Short Hair
                            p Full head bleach &amp; tone on short hair (above shoulders).
                        div
                            h4 #[sup $]200.00
                    div
                        div
                            h3 All Over Bleach &amp; Tone Long Hair
                            p Full head bleach and tone application on long hair (past shoulders).
                        div
                            h4 #[sup $]300.00
                    div
                        div
                            h3 Vivid Colors
                            p Vivid color application is a double process, this requires pre-lightening of the hair ( see services above). We have all vivid colors in various shades including: brights, neons, pastels and metallics. Preliminary timing consultation recommended for this service.
                        div
                            h4 #[sup $]100.00
                h2(class="button accordion-item") Smoothing Treatments
                div
                    div
                        div
                            h3 Express Keratin Treatment
                            p Get the benefits of a Keratin Treatment immediately! Smooth, shine, lock down color and condition. Lasts up to 2 weeks.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Relaxer - Keratin Treatment
                            p Blowout that conditions, relaxes and eliminates frizz from hair for up-to four month.
                        div
                            h4 #[sup $]200.00
                h2(class="button accordion-item") Extensions
                div
                    div
                        div
                            h3 Tape-in Extensions
                            p 100% remy human hair used to add length, volume or color. Non-damaging, no tangling. Can be shampooed &amp; heat styled. 2-3 packs suggested. Lasts 2-3 months depending how well they are cared for. Consultation required, hair purchased at time of consultation. Custom trim is included after application. Price is for application/trim only.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 Extensions / Weaving - Implementation
                            p Extensions are positioned close to the scalp with a keratin bond, and may consist of real or synthetic hair. They are designed to add length and volume to the style. When applied professionally, extensions will mix and move naturally with any style.
                        div
                            h4 #[sup $]90.00/hr
                   
                    div
                        div
                            h3 Extensions / Weaving - Consultation
                            p Extensions are positioned close to the scalp by weaving, braiding, or bonding, and may consist of real or synthetic hair. They are designed to add length and volume to the style. When applied professionally, extensions will mix and move naturally with any style.
                        div
                            h4 Consultation
                h2(class="button accordion-item") Waxing
                div
                    div
                        div
                            h3 Waxing - Brow Shaping
                            p Waxing service using the Golden Ratio.
                        div
                            h4 #[sup $]30.00
                    div
                        div
                            h3 Waxing - Lip and Chin
                            p Waxing Different parts of the face.
                        div
                            h4 #[sup $]15.00
                h2(class="button accordion-item") Bridal Services
                div
                    div
                        div
                            h3 Bride Hair
                            p Hair is curled, pinned and cooled for maximum longevity of the style throughout wedding day. Hair is then dropped from pins and then elegantly styled to brides request. Trial hair style recommended for smooth styling day of.
                        div
                            h4 #[sup $]85.00
                    div
                        div
                            h3 Bride Makeup
                            p Makeup services include: moisturizer, foundation, concealer, powder, contoured bronzer & highlight, blush, customized eyeshadow look, eyebrows, mascara, lipstick and/or gloss and false lash application. All products used are professional high-end brands such as: MAC, Bobbi Brown, Urban Decay, Tarte, Anastasia Beverly Hills. Sigma/Morphe brushes &amp; beauty blender are used for a flawless application.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Bride Trial Hair
                            p A run through of hair before the big day!
                        div
                            h4 #[sup $]60.00
                    div
                        div
                            h3 Bride Trial Makeup
                            p A run through of requested makeup look for the big day!
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Bridal Party Hair
                            p Hair is curled and pinned in an elegant style for the bridal party or mother of bride or groom.
                        div
                            h4 #[sup $]60.00
                    div
                        div
                            h3 Bridal Party Makeup
                            p Soft glam makeup application for bridal party or mother of bride or groom. All professional high-end makeup products used.
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Flower Girl Hair
                            p Hair is curled and pinned up in an elegant style.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Light Makeup
                            p Flower girl makeup application.
                        div
                            h4 #[sup $]25.00
                    div
                        div
                            h3 Groom Picture Prep
                            p Groom hair styling day of wedding. Includes skin conditioning/blemish coverage for a fresh face ready for pictures.
                        div
                            h4 #[sup $]25.00
                    div
                        div
                            h3 On-Location Services
                            p On-site fee of 150+ per stylist for services at your wedding location. Includes up to 45 mins driving time from Tease salon. 50/hr after the initial 45 mins of travel time.
                        div
                            h4 #[sup $]150.00+
                h2(class="button accordion-item") Makeup Services
                div
                    div
                        div
                            h3 Soft Glam Makeup Application
                            p Includes: moisturizer, foundation, concealer, powder, soft contour &amp; highlight, blush, soft eyeshadow look, brows, lips and mascara.
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Full Glam Makeup Application
                            p Includes: moisturizer, foundation, concealer, powder, full contour &amp; highlight, blush, glam eye shadow look, brows, lips, mascara and false lash application.
                        div
                            h4 #[sup $]65.00