section.layers
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 Services
            div.accordion
                h2(class="button accordion-item") Blonding or &amp; Color Addition
                div
                    div
                        div
                            h3 Partial Balayage or Highlight
                            p Partial head of balayage or highlights/lowlights. This is for a partial service which includes the crown and sides of the head. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 Partial Balayage or Highlight &amp; Cut
                            p Partial balayage or highlights and haircut. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]210.00
                    div
                        div
                            h3 Partial Balayage or Highlight &amp; Color
                            p Partial balayage or highlights/lowlights and root color touch up. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]225.00
                    div
                        div
                            h3 Partial Balayage or Highlight, Color &amp; Cut
                            p Partial balayage or highlights/lowlights, root color touch up and haircut. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]285.00
                    div
                        div
                            h3 Full Balayage or Highlight
                            p Full head of balayage or highlights/lowlights. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length an density of hair.
                        div
                            h4 #[sup $]200.00
                    div
                        div
                            h3 Full Balayage or Highlight &amp; Cut
                            p Full head of balayage or highlights/lowlights and haircut. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]260.00
                    div
                        div
                            h3 Full Balayage or Highlight &amp; Color
                            p Full head of balayage or highlights/lowlights and root color touch up. The best route of blonding for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]275.00
                    div
                        div
                            h3 Full Balayage or Highlight, Color &amp; Cut
                            p Full head of balayage or highlights/lowlights, root color touch up and haircut. The best blonding route for you will be discussed during the consultation at the time of your appointment. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]330.00
                    div
                        div
                            h3 Root Shadow
                            p A darker toner is painted on the root area after lightening hair for a seamless soft contrast rooted look. Add on to any lightening color gloss service.
                        div
                            h4 #[sup $]20.00
                h2(class="button accordion-item") Haircuts &amp; Other
                div
                    div
                        div
                            h3 Women's Haircut
                            p A personalized haircut designed by your stylist to fit your individual style. Includes: shampoo, haircut, blow-out, customized dry-cutting and finishing touches.
                        div
                            h4 #[sup $]70.00
                    div
                        div
                            h3 Women's Haircut &amp; Iron Style
                            p A customized haircut designed by your stylist to fit your individual style and preferences, includes shampoo, professional blow dry, customized dry cutting, iron style with flat iron, curling iron or curling wand and finishing touches.
                        div
                            h4 #[sup $]80.00
                    div
                        div
                            h3 Shampoo &amp; Blow Dry
                            p Relaxing shampoo with professional blowout using round brush and finishing touches.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Shampoo, Blow Dry &amp; Iron Style
                        div
                            h4 #[sup $]50.00                    
                    div
                        div
                            h3 Men's Haircut
                            p A personalized consultation and cut specific to you. Shampoo, blow-dry, straight razor neck shave and style out.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Men's Clean Up
                            p Clean up of neck line, shampoo &amp; style out.
                        div
                            h4 #[sup $]20.00
                    div
                        div
                            h3 Mustache / Beard Trim
                            p Customized trimming of mustache and/or beard.
                        div
                            h4 #[sup $]15.00
                    div
                        div
                            h3 Child's Haircut
                            p A customized children's haircut designed by your stylist to fit your individual style and preferences. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Bang Trim
                            p Touch up for that fringe! Come in before you tackle those bangs yourself. Complimentary for existing haircut clients only.
                        div
                            h4 #[sup $]15.00
                    div
                        div
                            h3 Special Occasions / Up-Dos
                            p An elegant style where the hair is pulled up, and away from the neck.
                        div
                            h4 #[sup $]75.00
                h2(class="button accordion-item") Haircolor &amp; Other
                div
                    div
                        div
                            h3 Color Correction Consultation
                            p Corrective color consultation complimentary. Consultation required for any corrective color service. Corrective services start at 125/hr.
                        div
                            h4 Consultation
                    div
                        div
                            h3 Touch Up Color
                            p Root touch application of permanent or demi-permanent color.
                        div
                            h4 #[sup $]85.00
                    div
                        div
                            h3 Touch Up Color &amp; Cut
                            p Root touch color permanent or demi-permanent, customized cut and blowout.
                        div
                            h4 #[sup $]145.00
                    div
                        div
                            h3 All Over Color
                            p Full head application of permanent or demi-permanent color. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]110.00
                    div
                        div
                            h3 All Over Color &amp; Cut
                            p All over permanent or demi-permanent color application, customized cut and blow out. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]170.00
                    div
                        div
                            h3 Olaplex Treatment
                            p Prevent damage, repair hair! This 3-step system works on a molecular level to seek out broken bonds in the hair that are caused by chemical, thermal, and mechanical damage. We use Olaplex to restore compromised hair, or add it to another service to provide the ultimate breakage insurance. First 2 steps are in-salon, the final step is a take home (sold separately) to provide our client's with continuous protection from ongoing damage at home. Can be used as a stand alone treatment, without color.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Conditioning Treatment
                            p A deep conditioner applied after shampoo. The conditioner is massaged then combed through and left on for 10 minuets at the shampoo bowl to rehydrate dry &amp; brittle hair. Add on to any service for $20.
                        div
                            h4 #[sup $]50.00
                h2(class="button accordion-item") Bleach &amp; Tone / Vivid Colors
                div
                    div
                        div
                            h3 Toner / Color Gloss
                            p A toner or also known as a color gloss changes the tonal value of the hair. May be applied at the shampoo bowl or styling chair after lightening the hair to cut brassiness. This type of gel color can be used to blend out color demarcation lines, lightly shift or deepen the tone and add mega shine to the hair. Great way to refresh color or cut warmth in-between lightening services. Demi-Permanent color, lasts 4-6 weeks. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Bleach &amp; Tone Touch Up
                            p Bleach &amp; tone root touch up within a 6 week regrowth time period.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Bleach &amp; Tone Extended
                            p Bleach &amp; tone touch up after 6 week time period of regrowth.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 All Over Bleach &amp; Tone Long Hair
                            p Full head bleach and tone application on long hair (past shoulders).
                        div
                            h4 #[sup $]300.00
                    div
                        div
                            h3 All Over Bleach &amp; Tone Short Hair
                            p Full head bleach &amp; tone on short hair (above shoulders).
                        div
                            h4 #[sup $]200.00
                    div
                        div
                            h3 Vivid Colors
                            p Must be booked with a blonding service. Vivid color application is a double process, this requires pre-lightening of the hair. We have all vivid colors in various shades including: brights, neons, pastels and metallics. Preliminary timing consultation recommended for this service. *This is a starting price.
                        div
                            h4 #[sup $]100.00
                h2(class="button accordion-item") Smoothing Treatments
                div
                    div
                        div
                            h3 Brazilian Renewal Treatment
                            p Our strongest smoothing treatment that we offer. The Brazilian Renewal allows you to get your hair wet same day, no more waiting 48hrs to wash. Lasts up to 4 months. Adds mega shine, reduces frizz and cuts blow dry time in half.
                        div
                            h4 #[sup $]275.00
                    div
                        div
                            h3 Relaxer - Keratin Treatment
                            p Blowout that conditions, relaxes, and eliminates frizz from hair for up-to four months. Price may vary depending on length and density of hair.
                        div
                            h4 #[sup $]200.00
                    div
                        div
                            h3 Express Keratin Treatment
                            p Get the benefits of a Keratin Treatment immediately! Smooth, shine, lock down color and condition. Lasts up to 2 weeks.
                        div
                            h4 #[sup $]75.00
                h2(class="button accordion-item") Extensions
                div
                    div
                        div
                            h3 Extension Removal
                            p Removal of bonded or tape-in extensions, time/cost may vary per service. Provider to adjust timing and price.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Tape-in Extensions
                            p 100% remy human hair used to add length, volume or color. Non-damaging, no tangling. Can be shampooed &amp; heat styled just like your own hair. 3-4 packs of hair is suggested. Lasts 8-12 weeks when well cared for. Custom haircut is included after application. Price is for extension application &amp; haircut only. Consultation required, hair purchased at time of consultation.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 Extensions / Weaving - Implementation
                            p Extensions are positioned close to the scalp with either tape-ins, beads or keratin bonds. The hair we use is 100% human remy hair that can be washed and heat styled like your very own hair They are designed to add length, volume and color, 3-4 packs recommended. Custom haircut included after extension application. Extensions will last 2-3 months and must be professionally removed. Consultation required, hair purchased at the time of consultation. 100/hr for application of keratin bonded.
                        div
                            h4 #[sup $]90.00
                   
                    div
                        div
                            h3 Extensions / Weaving - Consultation
                            p Extensions are positioned close to the scalp by tape-ins, beads, or keratin bonds. They are designed to add length, volume and/or add color to any head of hair. A custom haircut is included with every extension application. Deposit for hair is required at time of consultation.
                        div
                            h4 Consultation
                h2(class="button accordion-item") Bridal Services
                div
                    div
                        div
                            h3 Bride Hair
                            p Hair is curled, pinned and cooled for maximum longevity of the style throughout wedding day. Hair is then dropped from pins and then elegantly styled to brides request. Trial hair style recommended for smooth styling day of.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Bride Makeup
                            p Makeup services include: moisturizer, foundation, concealer, powder, contoured bronzer &amp; highlight, blush, customized eyeshadow look, eyebrows, mascara, lipstick and/or gloss and optional false lash application (lashes are $15 extra). All products used are professional high-end brands such as: MAC, Bobbi Brown, Urban Decay, Tarte, Anastasia Beverly Hills. Sigma/Morphe brushes &amp; beauty blender are used for a flawless application.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Bride Trial Hair
                            p A run through of hair before the big day!
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Bridal Party Hair
                            p Hair is curled and pinned in an elegant style for the bridal party or mother of bride or groom.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Bridal Party Makeup
                            p Soft glam makeup application for bridal party or mother of bride or groom. All professional high-end makeup products used. False lash application including lashes, optional.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Flower Girl Hair
                            p Hair is curled and pinned up in an elegant style.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Groom Picture Prep
                            p Groom hair styling day of wedding. Includes skin conditioning/blemish coverage for a fresh face ready for pictures.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Bride Trial Makeup
                            p A run through of requested makeup look for the big day!
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 On-Location Services
                            p On-site fee of 150+ per stylist for services at your wedding location. Includes up to 45 mins driving time from Tease salon. 50/hr after the initial 45 mins of travel time.
                        div
                            h4 #[sup $]150.00
                h2(class="button accordion-item") Makeup Services
                div
                    div
                        div
                            h3 Full Face Makeup Application
                            p Includes: moisturizer, foundation, concealer, powder, contour &amp; highlight, blush, custom eyeshadow look, brows, lips and mascara. Optional false lashes, includes application. All professional high-end brands used. Must be booked 24 hrs in advance.
                        div
                            h4 #[sup $]100.00
            p #[span Cancellation Policy:] Your appointments are very important to us. It is reserved especially for you and we understand that sometimes schedule adjustments are necessary; therefore, we respectfully request at least 24 hours notice for cancellations.