section.layers
    div.layer-back
    div.layer-front
        div.layer-rule
            != partial("_shared/rule")
        div.layer-front-content
            h1 Services
            div.accordion
                h2(class="button accordion-item") Balayage &amp; Color
                div
                    div
                        div
                            h3 Partial Balayage
                            p Color is painted on to the hair to give a natural look. This is for a partial service which includes the crown and sides of the head. Depending on length and thickness of hair price may vary.
                        div
                            h4 #[sup $]135.00
                    div
                        div
                            h3 Partial Balayage &amp; Color
                            p This service is for a partial balayage application and touch up hair color service.
                        div
                            h4 #[sup $]210.00
                    div
                        div
                            h3 Partial Balayage &amp; Cut
                        div
                            h4 #[sup $]195.00
                    div
                        div
                            h3 Partial Balayage, Color &amp; Cut
                        div
                            h4 #[sup $]265.00
                    div
                        div
                            h3 Full Balayage
                            p Color is painted on to the hair to give a naturally highlighted look. This service is for a full balyage treatment which covers the entire head. Depending on length and thickness of hair price may vary.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Full Balayage &amp; Color
                        div
                            h4 #[sup $]245.00
                    div
                        div
                            h3 Full Balayage &amp; Cut
                        div
                            h4 #[sup $]235.00
                    div
                        div
                            h3 Full Balayage, Color &amp; Color
                        div
                            h4 #[sup $]290.00
                h2(class="button accordion-item") Smoothing Treatments
                div
                    div
                        div
                            h3 Express Keratin Treatment
                            p Get the benefits of a Keratin Treatment immediately! Smooth, shine, lock down color and condition. Lasts up to 2 weeks.
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Relaxer - Keratin Treatment
                            p Blowout that conditions, relaxes and eliminates frizz from hair for up-to four month.
                        div
                            h4 #[sup $]200.00
                h2(class="button accordion-item") Extensions
                div
                    div
                        div
                            h3 Extensions / Weaving - Implementation
                            p Extensions are positioned close to the scalp with a keratin bond, and may consist of real or synthetic hair. They are designed to add length and volume to the style. When applied professionally, extensions will mix and move naturally with any style.
                        div
                            h4 #[sup $]90.00/hr
                    div
                        div
                            h3 Tape-in Extensions
                            p 100% remy human hair used to add length, volume or color. Non-damaging, no tangling. Can be shampooed & heat styled. 2-3 packs suggested. Lasts 2-3 months depending how well they are cared for. Consultation required, hair purchased at time of consultation. Custom trim is included after application. Price is for application/trim only.
                        div
                            h4 #[sup $]150.00
                    div
                        div
                            h3 Extensions / Weaving - Consultation
                            p Extensions are positioned close to the scalp by weaving, braiding, or bonding, and may consist of real or synthetic hair. They are designed to add length and volume to the style. When applied professionally, extensions will mix and move naturally with any style.
                        div
                            h4 Consultation
                h2(class="button accordion-item") Haircuts &amp; Other
                div
                    div
                        div
                            h3 Bang Trim
                            p Touch up for that fringe! Come in before you tackle those bangs yourself.
                        div
                            h4 Complimentary
                    div
                        div
                            h3 Women's Blow-Dry
                            p Relaxing shampoo with professional blowout using round brush and finishing touches.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Women's Styling With Flat-Curling Iron
                            p Professional styling and finishing service using a flat or curling iron.
                        div
                            h4 #[sup $]40.00
                    div
                        div
                            h3 Women's Haircut
                            p A customized haircut designed by your stylist to fit your individual style and preferences.
                        div
                            h4 #[sup $]70.00
                    div
                        div
                            h3 Women's Haircut With Flat-Curling Iron
                            p A customized haircut designed by your stylist to fit your individual style and preferences, includes professional blow dry and style.
                        div
                            h4 #[sup $]80.00
                    div
                        div
                            h3 Men's Clipper Cut
                            p Clipper work on the sides, scissor cut on top. Detailing around neck and ears. Shampoo, blow-dry and style.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Men's Scissor Cut
                            p Customized scissor work on sides and top. Detailing around neck and ears. Shampoo, blow-dry and style.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Mustache / Beard Trim
                            p Customized trimming of mustache and/or beard.
                        div
                            h4 #[sup $]10.00
                    div
                        div
                            h3 Child's Haircut
                            p A customized children's haircut designed by your stylist to fit your individual style and preferences.
                        div
                            h4 #[sup $]35.00
                    div
                        div
                            h3 Conditioning Treatment
                            p A formula that is designed to restore proteins and moisture in the hair. Often the client will wear a cap and be placed under a dryer for 10-20 minutes to increase the speed of penetration.
                        div
                            h4 #[sup $]15.00
                    div
                        div
                            h3 Special Occasion Styles
                            p An elegant style where the hair is pulled up, and away from the neck.
                        div
                            h4 #[sup $]60.00
                h2(class="button accordion-item") Hair Color &amp; Other
                div
                    div
                        div
                            h3 Color Correction Consultation
                        div
                            h4 Consultation
                    div
                        div
                            h3 Touch-Up Color
                            p Root touch application of permanent or demi-permanent color.
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 All-Over Color
                            p Full head application of permanent or demi-permanent color.
                        div
                            h4 #[sup $]100.00
                    div
                        div
                            h3 Touch-Up Color &amp; Cut
                            p Root touch color permanent or demi-permanent, customized cut and blowout.
                        div
                            h4 #[sup $]135.00
                    div
                        div
                            h3 All-Over Color &amp; Cut
                            p All over permanent or demi-permanent color application, customized cut and blow out.
                        div
                            h4 #[sup $]160.00
                    div
                        div
                            h3 All-Over Color, Cut &amp; Flat/Curling Iron
                            p Full head permanent or demi-permanent color application. Customized cut, blow out and an iron style.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Partial Highlight
                            p Lightener foiled through top and sides of head for a lighter affect in the hair.
                        div
                            h4 #[sup $]115.00
                    div
                        div
                            h3 Color &amp; Partial Highlight
                            p Root touch up permanent or demi-permanent color with partial highlights throughout top and sides.
                        div
                            h4 #[sup $]175.00
                    div
                        div
                            h3 Partial Highlight &amp; Cut
                        div
                            h4 #[sup $]170.00
                    div
                        div
                            h3 Color, Partial Highlight &amp; Cut
                            p Root touch permanent or demi-permanent color with partial highlights throughout top and sides with customized cut and blowout.
                        div
                            h4 #[sup $]235.00
                    div
                        div
                            h3 Color, Partial Highlight &amp; Flat/Curling Iron
                            p Root touch up with permanent or demi-permanent color with partial highlights throughout top and side with customized style.
                        div
                            h4 #[sup $]185.00
                    div
                        div
                            h3 Color, Partial Highlight, Cut &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with partial highlights throughout top and side with customized haircut, blowout and style.
                        div
                            h4 #[sup $]245.00
                    div
                        div
                            h3 Full Highlight
                            p Full head highlight application.
                        div
                            h4 #[sup $]155.00
                    div
                        div
                            h3 Color &amp; Full Highlight
                            p Root touch permanent or demi-permanent color with full head highlights.
                        div
                            h4 #[sup $]215.00
                    div
                        div
                            h3 Full Highlight &amp; Cut
                            p Full head highlights and customized haircut and blowout.
                        div
                            h4 #[sup $]215.00
                    div
                        div
                            h3 Color, Full Highlight &amp; Cut
                            p Root touch up permanent or demi-permanent color with full head highlights including customized haircut and blowout.
                        div
                            h4 #[sup $]275.00
                    div
                        div
                            h3 Color, Full Highlight &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with full head highlights, blowout and iron style.
                        div
                            h4 #[sup $]225.00
                    div
                        div
                            h3 Color, Full Highlight, Cut &amp; Flat/Curling Iron
                            p Root touch up permanent or demi-permanent color with full head highlights including customized haircut, blowout and iron style.
                        div
                            h4 #[sup $]285.00
                h2(class="button accordion-item") Waxing
                div
                    div
                        div
                            h3 Waxing - Brow Shaping
                            p Waxing service using the Golden Ratio.
                        div
                            h4 #[sup $]30.00
                    div
                        div
                            h3 Waxing - Lip and Chin
                            p Waxing Different parts of the face.
                        div
                            h4 #[sup $]15.00
                h2(class="button accordion-item") Makeup Services
                div
                    div
                        div
                            h3 Soft Glam Makeup Application
                            p Includes: moisturizer, foundation, concealer, powder, soft contour & highlight, blush, soft eyeshadow look, brows, lips and mascara.
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Full Glam Makeup Application
                            p Includes: moisturizer, foundation, concealer, powder, full contour & highlight, blush, glam eye shadow look, brows, lips, mascara and false lash application.
                        div
                            h4 #[sup $]60.00
                h2(class="button accordion-item") Bridal Services
                div
                    div
                        div
                            h3 Bride Hair
                        div
                            h4 #[sup $]85.00
                    div
                        div
                            h3 Bride Makeup
                        div
                            h4 #[sup $]75.00
                    div
                        div
                            h3 Bride Trial Hair
                        div
                            h4 #[sup $]60.00
                    div
                        div
                            h3 Bride Trial Makeup
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Bridal Party Hair
                        div
                            h4 #[sup $]60.00
                    div
                        div
                            h3 Bridal Party Makeup
                        div
                            h4 #[sup $]50.00
                    div
                        div
                            h3 Flower Girl Hair
                        div
                            h4 #[sup $]45.00
                    div
                        div
                            h3 Light Makeup
                        div
                            h4 #[sup $]25.00
                    div
                        div
                            h3 On-Site Fee
                        div
                            h4 #[sup $]150.00+