// variables
// --------------------------------------------------

// breakpoints
$screen-min: 320px;
$screen-med: 760px;
$screen-max: 1200px;

// colors
$color-orange: #f7941e;
$color-orange-dark: #f15a29;
$color-red: #ef4136;
$color-gray: #6d6e71;
$color-gray-dark: #58595b;

// paths
$path-root: "../";
$path-imgs: "#{$path-root}imgs/";

// spacing
$spacing-min: 20px;
$spacing-max: 40px;