// align
// --------------------------------------------------

@mixin align-horizontal() {
    left: 50vw;
    position: absolute;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,0);

    @media (min-width: $screen-max) {
        left: $screen-max / 2;
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        left: $screen-max-landscape-width / 2;
    }
}

@mixin align-center() {
    top: 50vh;
    left: 50vw;
    position: absolute;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0);

    @media (min-width: $screen-max) {
        left: $screen-max / 2;
    }

    @media (max-height: $screen-max-landscape-height) and (orientation: landscape) {
        left: $screen-max-landscape-width / 2;
    }
}