// rule
// --------------------------------------------------

@mixin rule($color: $color-orange-dark) {
    $svg-color: str-slice("#{$color}", 2);

    width: 100%;
    height: 13px;
    position: relative;
    display: table;

    > .rule-end {
        width: 16px;
        height: inherit;
        vertical-align: bottom;
        display: table-cell;

        &:first-child {
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20x%3D%270px%27%20y%3D%270px%27%20width%3D%2716px%27%20height%3D%2713px%27%20viewBox%3D%270%200%2016%2013%27%20enable-background%3D%27new%200%200%2016%2013%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23#{$svg-color}%27%20stroke-width%3D%272%27%20d%3D%27M5.093%2C6.148C5.2%2C8.679%2C7.881%2C8.192%2C8.514%2C7.982%20c2.75-0.918%2C2.179-4.823%2C0.116-6.092C6.297%2C0.457%2C3.356%2C1.317%2C2.276%2C2.582C1.067%2C3.997%2C0.939%2C5.416%2C1.019%2C6.338%20c0.047%2C0.553%2C0.376%2C5.746%2C7.818%2C5.645c4.805%2C0.04-0.187%2C0.001%2C7.163%2C0.001%27%2F%3E%3C%2Fsvg%3E");
        }

        &:last-child {
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20x%3D%270px%27%20y%3D%270px%27%20width%3D%2716px%27%20height%3D%2713px%27%20viewBox%3D%270%200%2016%2013%27%20enable-background%3D%27new%200%200%2016%2013%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23#{$svg-color}%27%20stroke-width%3D%272%27%20d%3D%27M0%2C11.983c7.35%2C0%2C2.358%2C0.039%2C7.163-0.001%20c7.442%2C0.101%2C7.771-5.092%2C7.818-5.645c0.08-0.922-0.048-2.341-1.257-3.756c-1.08-1.265-4.021-2.125-6.353-0.692%20C5.307%2C3.159%2C4.736%2C7.063%2C7.486%2C7.982c0.632%2C0.21%2C3.313%2C0.697%2C3.42-1.834%27%2F%3E%3C%2Fsvg%3E");
        }
    }

    .rule-middle {
        height: inherit;
        border-bottom: 2px solid $color;
        vertical-align: bottom;
        display: table-cell;
    }
}