- var page = current.path[0]

if environment == "production"
    link(rel="stylesheet", href="/css/tease.min.css")

    if page == "index"
        link(rel="stylesheet", href="/css/home.min.css")

    else if page == "about"
        link(rel="stylesheet", href="/css/about.min.css")

    else if page == "booking"
        link(rel="stylesheet", href="/css/booking.min.css")

    else if page == "contact"
        link(rel="stylesheet", href="/css/contact.min.css")

    else if page == "services"
        link(rel="stylesheet", href="/css/services.min.css")
else
    link(rel="stylesheet", href="/css/tease.css")

    if page == "index"
        link(rel="stylesheet", href="/css/home.css")
    
    else if page == "about"
        link(rel="stylesheet", href="/css/about.css")

    else if page == "booking"
        link(rel="stylesheet", href="/css/booking.css")

    else if page == "contact"
        link(rel="stylesheet", href="/css/contact.css")

    else if page == "services"
        link(rel="stylesheet", href="/css/services.css")