footer
    div
        p 1417 NW 54th St #105
            br 
            | Seattle, WA 98107
            br
            br
            a(href="tel:2064860141")
                span(class="fa fa-phone-square")
                | 206.486.0141
            br
            a(href="mailto:melissa@teaseballard.com")
                span(class="fa fa-envelope-square")
                | Melissa
            br
            a(href="mailto:nicka@teaseballard.com")
                span(class="fa fa-envelope-square")
                | Nicka
            br
            br
            span(class="footer-copyright") &copy; 2017
    div
        p
            a(href="https://www.facebook.com/teaseballard", target="_blank")
                span(class="fa fa-facebook-square")
            a(href="https://www.instagram.com/teaseballard", target="_blank")
                span(class="fa fa-instagram")