footer#footer
    div
        p 1417 NW 54th St #105
            br 
            | Seattle, WA 98107
            br
            br
            a(href="tel:2064860141") 206.486.0141
            br
            a(href="mailto:melissa@teaseballard.com") Melissa
            br
            a(href="mailto:nicka@teaseballard.com") Nicka
            br
            br
            span(class="footer-copyright") &copy; 2017
    div
        p
            a(href="https://www.yelp.com/biz/tease-seattle", target="_blank")
                span(class="fa fa-yelp")
            a(href="https://www.facebook.com/teaseballard", target="_blank")
                span(class="fa fa-facebook-square")
            a(href="https://www.instagram.com/teaseballard", target="_blank")
                span(class="fa fa-instagram")