nav#nav
    ul
        li
            a(href="/") Home
        li 
            a(href="/about/") About
        li
            a(href="#") Services
        li
            a(href="#") Schedule
        li
            a(href="#") Contact