nav#nav
    ul
        li
            a(href="/") Home
        li 
            a(href="/about") About
        li
            a(href="/services") Services
        li
            a(href="/book", target="_blank", onclick="ga('send', 'event', 'Booking - Nav', 'Click', '#{vagaro.url}');") Booking
        li
            a(href="/contact") Contact